@CHARSET "ISO-8859-1";

.title{
	font-size: 200px;
}

.responsive-image{
        max-width: 100%; 
		display:block; 
		height: auto;
    }
    
    .container{
    	margin-left: 16.665%;
    	width:66.67%;
    }
    
    div img{
    width:255;
    height:255;
    }