<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="Layout">
<head>
<meta charset="UTF-8" />
<title>Inserir Item</title>
</head>
<body>
	<section layout:fragment = "content">
	<div class="table-bordered col-lg-4 col-lg-offset-4 search" style="margin-top: 30px;">
		<form th:object="${item}" class="form-inline" method="POST" th:action="@{|/itens/incluir|}">
		
			<input type="hidden" th:field="*{idPedido}"></input>
		
			<div class="form-group">
				<select th:field="*{idServico}" class="form-control">
					<option th:each="s : ${servicos}" th:text="${s.descricao}" th:value="${s.id}" ></option>
				</select>
			</div>
			
			<div class="form-group">
				<select th:field="*{idMaterial}" class="form-control">
					<option th:each="m : ${materiais}" th:text="${m.descricao}" th:value="${m.id}" ></option>
				</select>
			</div>
			
			<div class="form-group">
				<input type="text" th:field="*{peso}" placeholder="Digite o peso" class="form-control"></input>
				<span class="help-inline" th:errors="*{peso}"></span>
			</div>
			
			<button class="btn btn-default" type="submit" style="margin-top: 30px;">Salvar</button>
		
		</form>
	</div>
	</section>
</body>
</html>