<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta charset="UTF-8" />
	<title>Lavanderia - Crescer</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<p class="navbar-text">
					<a th:href="@{/}" class="navbar-link" style="text-decoration: none">Home</a>
				</p>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/clientes}" class="navbar-link" style="text-decoration: none">Lista de Clientes</a></li>
					<li><a th:href="@{/produtos}" class="navbar-link" style="text-decoration: none">Lista de Produtos</a></li>
					<li><a th:href="@{/pedidos}" class="navbar-link" style="text-decoration: none">Lista de Pedidos</a></li>
				</ul>
				<div class="navbar-form navbar-right">
					
					<form th:action="@{/logout}" method="POST">
						<span sec:authorize="hasRole('ROLE_USER')">Olá USER</span>
						<span sec:authorize="hasRole('ROLE_ADMIN')">Olá ADMIN</span>
						<label sec:authentication="name"></label>
						<button type="submit" class="btn btn-primary">Deslogar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div th:if="${(sucesso) != null}" class="alert alert-success fade in alert-dismisable alert-position" style="margin-top:100px;">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	   <p th:text="${sucesso}"></p>
	</div>
	
	<section layout:fragment="content" style="margin-top:50px"></section>
	
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.min.js"></script>
</body>

</html>