<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta charset="UTF-8" />
	<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Lavanderia</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/}">
					<img class="favicon" th:src="@{/img/favicon.ico}"/>
				</a>
			</div>
			
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/clientes}" class="navbar-link" style="text-decoration: none">Lista de Clientes</a></li>
					<li><a th:href="@{/produtos}" class="navbar-link" style="text-decoration: none">Lista de Produtos</a></li>
					<li><a th:href="@{/pedidos}" class="navbar-link" style="text-decoration: none">Lista de Pedidos</a></li>
				</ul>
				<div class="navbar-form navbar-right">
					
					<form th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
						<span sec:authorize="hasRole('ROLE_USER')">Olá USER</span>
						<span sec:authorize="hasRole('ROLE_ADMIN')">Olá ADMIN</span>
						<label sec:authentication="name" sec:authorize="isAuthenticated()"></label>
						<button type="submit" class="btn btn-primary" >Logout</button>
					</form>
					
					<form th:action="@{/login}" method="POST" sec:authorize="!isAuthenticated()">
						<button type="submit" class="btn btn-primary" >Login</button>
					</form>
				</div>
			</div>
		</div>
	</nav>
	
	<div th:if="${(sucesso) != null}" class="alert alert-success fade in alert-dismisable alert-position" style="margin-top:50px;">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	   <p th:text="${sucesso}"></p>
	</div>
	
	<section layout:fragment="content" style="margin-top:50px"></section>
	
	 <footer class="footer text-center">
      <p>
        &copy; Copyright 2015 - Alguns direitos reservados.
      </p>
    </footer>
	
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.min.js"></script>
</body>

</html>