<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="Layout">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Visualizar</title>
	</head>

	<body>
	
		<section layout:fragment="content">
			<div class="table-bordered col-lg-4 col-lg-offset-4" style="margin-top:10px">
				<form th:object="${cliente}" >
			
					<div class="form-group">
						<label class="control-label">ID: </label>
						<input th:field="*{id}" type="text" disabled="true" class="form-control"/>
					</div>
					
					<div class="form-group">
						<label class="control-label">Nome: </label>
						<input th:field="*{nome}" type="text" disabled="true" class="form-control"/>
					</div>
					
					<div class="form-group">
						<label class="control-label">CPF: </label>
				 		<input th:field="*{cpf}" type="text" disabled="true" class="form-control"/>
					</div>
					
					<div class="form-group">
				 		<label class="control-label">Email: </label>
				 		<input th:field="*{email}" type="text" disabled="true" class="form-control"/>
			 		</div>
			 		
			 		<div class="form-group">
				 		<label class="control-label">Cidade: </label>
				 		<select th:field="*{idCidade}" disabled="true" class="form-control">
			                <option th:each="c : ${cidades}" th:text="${c.nome}" th:value="${c.idCidade}" ></option>
			            </select>
		            </div>
		             
				</form>
			</div>
		</section>
	</body>
	
</html>