<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<title>Lista</title>
</head>

<body>

<a class="btn btn-default btn-cadastro" th:href="@{|/clientes/novo|}" role="button">Cadastrar</a>

	<div th:if="${(sucesso) != null}" class="alert alert-success fade in alert-dismisable alert-position">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	   <p th:text="${sucesso}"></p>
	</div>

	<div th:if="${not #lists.isEmpty(clientes)}">
		<table>
			<thead>
				<tr>
					<th>Id</th>
               		<th>Nome</th>
                	<th>CPF</th>
                	<th>Email</th>
                	<th>Visualizar</th>
                	<th>Editar</th>
                	<th>Remover</th>
				</tr>
				<tr th:each="cliente : ${(clientes)}">
					<td th:text="${cliente.id}"><a th:href="@{|/clientes/${cliente.id}|}"></a></td>
                	<td th:text="${cliente.nome}"></td>
                	<td th:text="${cliente.cpf}"></td>
                	<td th:text="${cliente.email}"></td>
                	<td><a th:href="${ '/clientes/' + cliente.id}">Visualizar</a></td>
                	<td><a th:href="${'/clientes/editar/' + cliente.id}">Editar</a></td>
                	<td><a th:href="${'/clientes/remover/' + cliente.id}">Remover</a></td>
				</tr>
			</thead>
		</table>
	</div>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.min.js"></script>
</body>

</html>