<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="Layout">
<head>
	<meta charset="UTF-8" />
	<title>Pedido</title>
</head>
<body>

	<section layout:fragment="content" class="table-bordered col-lg-10 col-lg-offset-1" th:object="${pedido}">
	
		<div class="col-lg-10 col-lg-offset-1">
			<p>ID: <span th:text="*{id}"></span> </p>
			<p>NOME: <span th:text="*{nomeCliente}"></span></p>
			<p>CPF: <span th:text="*{cpfCliente}"></span></p>
			<p>DATA DE INCLUSÃO: <span th:text="${#dates.format(pedido.dataInclusao, 'dd/MM/yyyy')}"></span></p>
			<p>DATA DE ENTREGA: <span th:text="${#dates.format(pedido.dataEntrega, 'dd/MM/yyyy')}"></span></p>
			<p>VALOR BRUTO: <span th:text="*{valorBruto}"></span></p>
			<p>DESCONTO: <span th:text="*{valorDesconto}"></span></p>
			<p>VALOR FINAL: <span th:text="*{valorFinal}"></span></p>
			<p>SITUAÇÃO: <span th:text="*{situacao}"></span></p>
		</div>
		
		<table class="table-bordered col-lg-10 col-lg-offset-1">
			<thead>
				<tr>
					<th>ID</th>
					<th>Servico</th>
					<th>Material</th>
					<th>Peso</th>
					<th>Valor Unitario</th>
					<th>Valor Total</th>
					<th>Situacao</th>
				</tr>

				
				<tr layout:include="item/item :: itens" style="margin-top:50px" th:each="item : ${pedido.itens}" >
				</tr>
			</thead>
		</table>
		
	</section>
</body>
</html>