<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="Layout">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<title>Lista</title>
</head>

<body>

<section layout:fragment="content">	

	<div class="search">
		<form th:action="@{/pedidos/buscar}" method="GET" class="form-horizontal col-lg-2">
			<select id="situacao" name="situacao" onchange="this.form.submit()" class="form-control">
				<option >---SELECIONE---</option>
				<option th:value="TODAS" >TODAS</option>
				<option th:each="s : ${situacoes}" th:text="${s}" th:value="${s}" ></option>
			</select>
		</form>
		<form th:action="@{/pedidos/buscar}" method="GET" class="form-inline col-lg-3">
				<input type="text" name="cpf" class="form-control"></input>
				<button type="submit" class="btn btn-primary">Buscar</button>
		</form>
		
	</div>

	<div th:if="${not #lists.isEmpty(pedidos)}" class="col-md-7 col-md-offset-2" style="margin-top:100px">
	
		<table class="table table-striped table-bordered table-hover col-sm-10">
			<thead>
				<tr>
               		<th>Nome</th>
               		<th>CPF</th>
               		<th>Data de Inclusao</th>
               		<th>Valor Total</th>
               		<th>Situacao</th>
               		<th>Vizualizar</th>
               		<th>Editar</th>
				</tr>
				<tr th:each="pedido : ${(pedidos)}">
                	<td th:text="${pedido.nomeCliente}"></td>
                	<td th:text="${pedido.cpfCliente}"></td>
                	<td th:text="${pedido.dataInclusao}"></td>
                	<td th:text="${pedido.valorBruto}"></td>
                	<td th:text="${pedido.situacao}"></td>
                	<td ><a th:href="@{|/pedidos/exibir/${pedido.id}|}">Vizualizar</a></td>
                	<td ><a th:if="${pedido.situacao != 'CANCELADO' and pedido.situacao != 'ENCERRADO'}" 
                	th:href="@{|/pedidos/editar/${pedido.id}|}">Editar</a></td>
				</tr>
			</thead>
		</table>
	</div>
	
	</section>
	
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.min.js"></script>
</body>

</html>