
@{
<<<<<<< HEAD
    ViewBag.Title = "Index";
}

<h2>Index</h2>
=======
    ViewBag.Title = "Listagem de Clientes";
}

<h1>
    @TempData["Mensagem"]
</h1>

<h2>Listagem de Clientes</h2>

<a href="~/Cliente/Manter">Cadastrar novo cliente</a>
>>>>>>> 196bc442c1d9dea6c1835e05199b10a9db08b196

